<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/param" method="post" >
        名字<input type="text" name="name"/><br/>
        年龄<input type="number" name="age"/><br/>
        爱好<input type="text" name="hobbies"/><br/>
        数量<input type="text" name="account"/><br/>
        密码<input type="password" name="password"/><br/>
        邮箱<input type="text" name="email"/><br/>
        <input name="su" type="submit">
    </form>
</body>
</html>