<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Second</title>
</head>
<body>
    <form method="post" action="/secondform">
        <div class="layui-input-block">
            <label class="layui-form-label">CardNumber:</label>
            <input style="width: 180px;height: 30px" id="cardNumber" type="text" value="" name="cardNumber">
            <label class="layui-form-label">Cvv:</label>
            <input style="width: 180px;height: 30px" id="cvv" type="text" value="" name="cvv">
        </div>
        <div class="layui-input-block">
            <label class="layui-form-label">Year:</label>
            <input style="width: 180px;height: 30px" id="year" type="text" value="" name="year">
            <label class="layui-form-label">Month:</label>
            <input style="width: 180px;height: 30px" id="month" type="text" value="" name="month"><br/>
            <label class="layui-form-label">Day:</label>
            <input style="width: 180px;height: 30px" id="day" type="text" value="" name="day">
        </div>
        <div class="layui-input-block">
            <label class="layui-form-label">Postcode:</label>
            <input style="width: 180px;height: 30px" id="postcode" type="text" value="" name="postcode">
            <label class="layui-form-label">Country:</label>
            <input style="width: 180px;height: 30px" id="country" type="text" value="" name="country">
        </div>
        <div class="layui-input-block">
            <label class="layui-form-label">City:</label>
            <input style="width: 180px;height: 30px" id="city" type="text" value="" name="city">
        </div>
        <div class="layui-input-block">
            <label class="layui-form-label">Phone:</label>
            <input style="width: 180px;height: 30px" id="phone" type="text" value="" name="phone">
            <label class="layui-form-label">State:</label>
            <input style="width: 180px;height: 30px" id="state" type="text" value="" name="state">
        </div>
        <div>
            <input style="height: 58px;width: 180px;color: #222222;border: blue 3px double;margin-top: 30px;"
                    class="layui-btn"
                    type="submit"><h1>提交</h1>
            </input>
        </div>
    </form>
</body>
</html>